
/api/OneBreadcrumbLibrary/.vs/OneBreadcrumbLibrary/config/applicationhost.config
/api/OneBreadcrumbLibrary/.vs/OneBreadcrumbLibrary/CopilotIndices/17.14.1147.5054/CodeChunks.db
/api/OneBreadcrumbLibrary/.vs/OneBreadcrumbLibrary/CopilotIndices/17.14.1147.5054/CodeChunks.db-shm
/api/OneBreadcrumbLibrary/.vs/OneBreadcrumbLibrary/CopilotIndices/17.14.1147.5054/CodeChunks.db-wal
/api/OneBreadcrumbLibrary/.vs/OneBreadcrumbLibrary/CopilotIndices/17.14.1147.5054/SemanticSymbols.db
/api/OneBreadcrumbLibrary/.vs/OneBreadcrumbLibrary/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-shm
/api/OneBreadcrumbLibrary/.vs/OneBreadcrumbLibrary/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-wal
/api/OneBreadcrumbLibrary/.vs/OneBreadcrumbLibrary/DesignTimeBuild/.dtbcache.v2
/api/OneBreadcrumbLibrary/.vs/OneBreadcrumbLibrary/v17/.futdcache.v2
/api/OneBreadcrumbLibrary/.vs/OneBreadcrumbLibrary/v17/.suo
/api/OneBreadcrumbLibrary/.vs/OneBreadcrumbLibrary/v17/DocumentLayout.backup.json
/api/OneBreadcrumbLibrary/.vs/OneBreadcrumbLibrary/v17/DocumentLayout.json
/api/OneBreadcrumbLibrary/.vs/ProjectEvaluation/onebreadcrumblibrary.metadata.v9.bin
/api/OneBreadcrumbLibrary/.vs/ProjectEvaluation/onebreadcrumblibrary.projects.v9.bin
/api/OneBreadcrumbLibrary/.vs/ProjectEvaluation/onebreadcrumblibrary.strings.v9.bin
/api/OneBreadcrumbLibrary/bin/Debug/net9.0/appsettings.Development.json
/api/OneBreadcrumbLibrary/bin/Debug/net9.0/appsettings.json
/api/OneBreadcrumbLibrary/bin/Debug/net9.0/books.backup.json
/api/OneBreadcrumbLibrary/bin/Debug/net9.0/books.json
/api/OneBreadcrumbLibrary/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
/api/OneBreadcrumbLibrary/bin/Debug/net9.0/Microsoft.OpenApi.dll
/api/OneBreadcrumbLibrary/bin/Debug/net9.0/OneBreadcrumbLibrary.deps.json
/api/OneBreadcrumbLibrary/bin/Debug/net9.0/OneBreadcrumbLibrary.dll
/api/OneBreadcrumbLibrary/bin/Debug/net9.0/OneBreadcrumbLibrary.exe
/api/OneBreadcrumbLibrary/bin/Debug/net9.0/OneBreadcrumbLibrary.pdb
/api/OneBreadcrumbLibrary/bin/Debug/net9.0/OneBreadcrumbLibrary.runtimeconfig.json
/api/OneBreadcrumbLibrary/bin/Debug/net9.0/OneBreadcrumbLibrary.staticwebassets.endpoints.json
/api/OneBreadcrumbLibrary/bin/Debug/net9.0/Swashbuckle.AspNetCore.Swagger.dll
/api/OneBreadcrumbLibrary/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/api/OneBreadcrumbLibrary/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/ApiEndpoints.json
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/apphost.exe
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/OneBread.37721691.Up2Date
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/OneBreadcrumbLibrary.AssemblyInfo.cs
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/OneBreadcrumbLibrary.AssemblyInfoInputs.cache
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/OneBreadcrumbLibrary.assets.cache
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/OneBreadcrumbLibrary.csproj.AssemblyReference.cache
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/OneBreadcrumbLibrary.csproj.BuildWithSkipAnalyzers
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/OneBreadcrumbLibrary.csproj.CoreCompileInputs.cache
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/OneBreadcrumbLibrary.csproj.FileListAbsolute.txt
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/OneBreadcrumbLibrary.dll
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/OneBreadcrumbLibrary.GeneratedMSBuildEditorConfig.editorconfig
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/OneBreadcrumbLibrary.genruntimeconfig.cache
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/OneBreadcrumbLibrary.GlobalUsings.g.cs
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/OneBreadcrumbLibrary.MvcApplicationPartsAssemblyInfo.cache
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/OneBreadcrumbLibrary.MvcApplicationPartsAssemblyInfo.cs
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/OneBreadcrumbLibrary.pdb
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/ref/OneBreadcrumbLibrary.dll
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/refint/OneBreadcrumbLibrary.dll
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/rpswa.dswa.cache.json
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/staticwebassets.build.json
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/staticwebassets.build.json.cache
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
/api/OneBreadcrumbLibrary/obj/Debug/net9.0/staticwebassets.removed.txt
/api/OneBreadcrumbLibrary/obj/OneBreadcrumbLibrary.csproj.nuget.dgspec.json
/api/OneBreadcrumbLibrary/obj/OneBreadcrumbLibrary.csproj.nuget.g.props
/api/OneBreadcrumbLibrary/obj/OneBreadcrumbLibrary.csproj.nuget.g.targets
/api/OneBreadcrumbLibrary/obj/project.assets.json
/api/OneBreadcrumbLibrary/obj/project.nuget.cache
